WSGIDaemonProcess radicale user=radicale group=radicale threads=1
WSGIScriptAlias /{{ _radicale.apache_segment }} {{ _radicale.apache_path }}/radicale.wsgi

<Directory {{ _radicale.apache_path }}/>
    WSGIProcessGroup radicale
    WSGIApplicationGroup %{GLOBAL}

    SetEnv RADICALE_CONFIG /etc/radicale/config

    #
    # CORS settings
    #

    Header always unset Access-Control-Allow-Origin
    Header always unset Access-Control-Allow-Methods
    Header always unset Access-Control-Allow-Headers
    Header always unset Access-Control-Allow-Credentials
    Header always unset Access-Control-Expose-Headers

    # configuration is partly inspired from this example
    # see https://www.inf-it.com/infcloud/misc/config_davical.txt
    #
    # for multiple cors domains
    # see https://gist.github.com/brianlmoon/2291111c5c69252c85f4
    Header always set Access-Control-Allow-Origin "{{ _radicale.cors_domain }}"
    Header always set Access-Control-Allow-Methods "GET,POST,OPTIONS,PROPFIND,PROPPATCH,REPORT,PUT,MOVE,DELETE,LOCK,UNLOCK"
    Header always set Access-Control-Allow-Headers "User-Agent,Authorization,Content-type,Depth,If-match,If-None-Match,Lock-Token,Timeout,Destination,Overwrite,Prefer,X-client,X-Requested-With"
    Header always set Access-Control-Allow-Credentials false
    Header always set Access-Control-Expose-Headers "Etag,Preference-Applied"

    AuthType Basic
    AuthName "Radicale Authentication"
    AuthBasicProvider file
    AuthUserFile /etc/radicale/users

    # this enable authentication for all http verbs except options
    # this is mandatory to allow CORS preflight request with OPTIONS verb
    # see https://www.inf-it.com/infcloud/readme.txt
    <LimitExcept OPTIONS>
        Require valid-user
    </LimitExcept>

    #
    # CSP settings
    #

    Header always set Content-Security-Policy "upgrade-insecure-requests; base-uri 'self'; default-src 'self'; frame-ancestors 'none'; report-uri /{{ _radicale.csp_reports_apache_segment }}/"
</Directory>
