[owner can write his collections]
user: .+
collection: ^%(login)s(/.+)?$
permission: rw

[authenticated users can read root]
user: .+
collection:
permission: r

[{{ _radicale.end_user_login }} can read jane]
user: {{ _radicale.end_user_login }}
collection: ^jane$
permission: r

[{{ _radicale.end_user_login }} can read and write jane/*]
user: {{ _radicale.end_user_login }}
collection: ^jane(/.*)?$
permission: rw

[{{ _radicale.end_user_login }} user can read all]
user: {{ _radicale.end_user_login }}
collection: ^.*$
permission: r

[jane can read {{ _radicale.end_user_login }} and {{ _radicale.end_user_login }}/{{ _radicale.end_user_login }}.ics]
user: jane
collection: ^({{ _radicale.end_user_login }}|{{ _radicale.end_user_login }}/{{ _radicale.end_user_login }}.ics)$
permission: r

[jane can read and write {{ _radicale.end_user_login }}/anothercalendar.ics]
user: jane
collection: ^{{ _radicale.end_user_login }}/anothercalendar.ics$
permission: rw
