<Directory {{ _infcloud.apache_path }}>
    Header always set Content-Security-Policy "upgrade-insecure-requests; base-uri 'self'; default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; connect-src 'self' www.inf-it.com; frame-ancestors 'none'; report-uri /{{ _infcloud.csp_reports_apache_segment }}/"
</Directory>
