# A system wide configuration is optional.
# If it exists, it usually defines a default account.
# This allows msmtp to be used like /usr/sbin/sendmail.
account default

# The SMTP smarthost.
host {{ _smtp.host }}

# Construct envelope-from addresses of the form "user@oursite.example".
auto_from on
maildomain {{ _smtp.maildomain }}

# Use TLS.
tls on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
tls_starttls off

auth on
user {{ _smtp.user }}
password {{ _smtp.password }}

# Syslog logging with facility LOG_MAIL instead of the default LOG_USER.
syslog LOG_MAIL

# use aliases
aliases /etc/aliases
