# this parameter is mandatory to enable access for other clients
# but it does not seem mandatory for EasyRSS
# see https://freshrss.github.io/FreshRSS/fr/users/06_Mobile_access.html
AllowEncodedSlashes On

<Directory {{ _freshrss.apache_path }}/>
    Header always edit Content-Security-Policy "$" "; report-uri /{{ _freshrss.csp_reports_apache_segment }}/"

    <Files index.html>
        Header always set Content-Security-Policy "upgrade-insecure-requests; base-uri 'self'; default-src 'none'; img-src 'self'; style-src 'self'; frame-ancestors 'none'; report-uri /{{ _freshrss.csp_reports_apache_segment }}/"
    </Files>
</Directory>
