[user]
	name = {{ _git.user_name }}
	email = {{ _git.user_email }}
[alias]
	co = checkout
	st = status -s
	ci = commit
	br = branch
	df = diff
	who = shortlog -s --
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	g = grep --break --heading --line-number
	gralog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
	reallystash = stash --include-untracked
	reallymerge = merge --no-ff
	reallyforce = push --force-with-lease
[core]
	autocrlf = input
[push]
	default = simple
[pull]
	rebase = true
[grep]
	lineNumber = true
	extendedRegexp = true
[rerere]
	enabled = true
