@charset "utf-8";

/**
 * freely inspired from Cute File Browser with jQuery and PHP
 * see https://tutorialzine.com/2014/09/cute-file-browser-jquery-ajax-php
 */

/**
 * simple reset
 */

* {
  margin: 0;
  padding: 0;
}

/**
 * page
 */

body {
  background-color: #ffffff;
  font: 14px normal Arial, Helvetica, sans-serif;
  z-index: -4;
}

/**
 * file manager
 */

.filemanager {
  width: 95%;
  max-width: 1340px;
  position: relative;
  margin: 100px auto 50px;
}

@media all and (max-width: 1052px) {
  .filemanager {
    margin: 30px auto 0;
    padding: 1px;
  }
}

/**
 * breadcrumbs
 */

.filemanager .breadcrumbs {
  color: #000000;
  margin-left: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
}

.filemanager .breadcrumbs .arrow {
  color: #777777;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
}

/**
 * content area
 */

.filemanager .data {
  margin-top: 60px;
  z-index: -3;
}

.filemanager .data.animated {
  -webkit-animation: showSlowlyElement 700ms;
  /* for Chrome, Safari, Opera */
  animation: showSlowlyElement 700ms;
  /* standard syntax */
}

.filemanager .data li {
  border-radius: 3px;
  background-color: #cccccc;
  width: 480px;
  height: 118px;
  list-style-type: none;
  margin: 10px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 0.3em;
  z-index: 1;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.3s background-color;
}

.filemanager .data li:hover {
  background-color: #aaaaaa;
}

.filemanager .data li a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.filemanager .data li .name {
  color: #222222;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  width: 350px;
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  top: 40px;
}

.filemanager .data li .details {
  color: #555555;
  font-size: 13px;
  font-weight: 400;
  width: 55px;
  height: 10px;
  top: 64px;
  white-space: nowrap;
  position: absolute;
  display: inline-block;
}

@media all and (max-width: 1052px) {
  .filemanager .data li {
    width: 100%;
    margin: 5px 0;
  }
}

/* for Chrome, Safari, Opera */
@-webkit-keyframes showSlowlyElement {
  100% {
    transform: scale(1);
    opacity: 1;
  }
  0% {
    transform: scale(1.2);
    opacity: 0;
  }
}

/* standard syntax */
@keyframes showSlowlyElement {
  100% {
    transform: scale(1);
    opacity: 1;
  }
  0% {
    transform: scale(1.2);
    opacity: 0;
  }
}

/**
 * icons
 */

.icon {
  font-size: 23px;
}

.icon.folder {
  display: inline-block;
  margin: 1em;
  background-color: transparent;
  overflow: hidden;
}

.icon.folder:before {
  content: "";
  float: left;
  background-color: #7ba1ad;
  width: 1.5em;
  height: 0.45em;
  margin-left: 0.07em;
  margin-bottom: -0.07em;
  border-top-left-radius: 0.1em;
  border-top-right-radius: 0.1em;
  box-shadow: 1.25em 0.25em 0 0em #7ba1ad;
}

.icon.folder:after {
  content: "";
  float: left;
  clear: left;
  background-color: #a0d4e4;
  width: 3em;
  height: 2.25em;
  border-radius: 0.1em;
}

.icon.folder.full:before {
  height: 0.55em;
}

.icon.folder.full:after {
  height: 2.15em;
  box-shadow: 0 -0.12em 0 0 #ffffff;
}

.icon.file {
  width: 2.5em;
  height: 3em;
  line-height: 3em;
  text-align: center;
  border-radius: 0.25em;
  color: #ffffff;
  display: inline-block;
  margin: 0.9em 1.2em 0.8em 1.3em;
  position: relative;
  overflow: hidden;
  box-shadow: 1.74em -2.1em 0 0 #a4a7ac inset;
}

.icon.file:first-line {
  font-size: 13px;
  font-weight: 700;
}

.icon.file:after {
  content: "";
  position: absolute;
  z-index: -1;
  border-width: 0;
  border-bottom: 2.6em solid #dadde1;
  border-right: 2.22em solid rgba(0, 0, 0, 0);
  top: -34.5px;
  right: -4px;
}

.icon.file.f-avi,
.icon.file.f-flv,
.icon.file.f-mkv,
.icon.file.f-mov,
.icon.file.f-mpeg,
.icon.file.f-mpg,
.icon.file.f-mp4,
.icon.file.f-m4v,
.icon.file.f-wmv {
  box-shadow: 1.74em -2.1em 0 0 #7e70ee inset;
}

.icon.file.f-avi:after,
.icon.file.f-flv:after,
.icon.file.f-mkv:after,
.icon.file.f-mov:after,
.icon.file.f-mpeg:after,
.icon.file.f-mpg:after,
.icon.file.f-mp4:after,
.icon.file.f-m4v:after,
.icon.file.f-wmv:after {
  border-bottom-color: #5649c1;
}

.icon.file.f-mp2,
.icon.file.f-mp3,
.icon.file.f-m3u,
.icon.file.f-wma,
.icon.file.f-xls,
.icon.file.f-xlsx {
  box-shadow: 1.74em -2.1em 0 0 #5bab6e inset;
}

.icon.file.f-mp2:after,
.icon.file.f-mp3:after,
.icon.file.f-m3u:after,
.icon.file.f-wma:after,
.icon.file.f-xls:after,
.icon.file.f-xlsx:after {
  border-bottom-color: #448353;
}

.icon.file.f-doc,
.icon.file.f-docx,
.icon.file.f-psd {
  box-shadow: 1.74em -2.1em 0 0 #03689b inset;
}

.icon.file.f-doc:after,
.icon.file.f-docx:after,
.icon.file.f-psd:after {
  border-bottom-color: #2980b9;
}

.icon.file.f-gif,
.icon.file.f-jpg,
.icon.file.f-jpeg,
.icon.file.f-pdf,
.icon.file.f-png {
  box-shadow: 1.74em -2.1em 0 0 #e15955 inset;
}

.icon.file.f-gif:after,
.icon.file.f-jpg:after,
.icon.file.f-jpeg:after,
.icon.file.f-pdf:after,
.icon.file.f-png:after {
  border-bottom-color: #c6393f;
}

.icon.file.f-deb,
.icon.file.f-dmg,
.icon.file.f-gz,
.icon.file.f-rar,
.icon.file.f-zip,
.icon.file.f-7z {
  box-shadow: 1.74em -2.1em 0 0 #867c75 inset;
}

.icon.file.f-deb:after,
.icon.file.f-dmg:after,
.icon.file.f-gz:after,
.icon.file.f-rar:after,
.icon.file.f-zip:after,
.icon.file.f-7z:after {
  border-bottom-color: #685f58;
}

.icon.file.f-html,
.icon.file.f-rtf,
.icon.file.f-xml,
.icon.file.f-xhtml {
  box-shadow: 1.74em -2.1em 0 0 #a94bb7 inset;
}

.icon.file.f-html:after,
.icon.file.f-rtf:after,
.icon.file.f-xml:after,
.icon.file.f-xhtml:after {
  border-bottom-color: #d65de8;
}

.icon.file.f-js {
  box-shadow: 1.74em -2.1em 0 0 #d0c54d inset;
}

.icon.file.f-js:after {
  border-bottom-color: #a69f4e;
}

.icon.file.f-css,
.icon.file.f-saas,
.icon.file.f-scss {
  box-shadow: 1.74em -2.1em 0 0 #44afa6 inset;
}

.icon.file.f-css:after,
.icon.file.f-saas:after,
.icon.file.f-scss:after {
  border-bottom-color: #30837c;
}

.icon.file.f-epub {
  box-shadow: 1.74em -2.1em 0 0 #ff6600 inset;
}

.icon.file.f-epub:after {
  border-bottom-color: #bb6600;
}

/**
 * footer
 */

footer {
  width: 770px;
  font: normal 16px Arial, Helvetica, sans-serif;
  padding: 15px 35px;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -420px;
  background-color: #aaaaaa;
  background-image: linear-gradient(to bottom, #cccccc, #eeeeee);
  border-radius: 0 0 2px 2px;

  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

footer span {
  font-weight: normal;
  font-size: 16px !important;
  text-decoration: none !important;
  display: block;
  margin-right: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000000 !important;
  z-index: 1;
}

footer a {
  text-decoration: none;
  color: #bb6600;
}

@media (max-width: 1052px) {
  footer {
    display: none;
  }
}
