<Directory {{ _apaxy.apache_path }}/>
    Header always set Content-Security-Policy "upgrade-insecure-requests; base-uri 'self'; default-src 'self'; script-src 'self' https://cdn.jsdelivr.net/; style-src 'self' https://cdn.jsdelivr.net/; font-src 'self' https://cdn.jsdelivr.net/; frame-ancestors 'none'; report-uri /{{ _apaxy.csp_reports_apache_segment }}/"
</Directory>
