<Directory {{ _wallabag.apache_path }}/>
    Require all granted

    <IfModule mod_rewrite.c>
        Options +SymLinksIfOwnerMatch
        Options -MultiViews
        RewriteEngine On
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteRule ^(.*)$ app.php [QSA,L]
    </IfModule>

    <IfModule mod_expires.c>
        ExpiresActive On
        ExpiresByType application/javascript A259200
        ExpiresByType image/avif "access plus 2592000 seconds"
        ExpiresByType image/gif "access plus 2592000 seconds"
        ExpiresByType image/jpg "access plus 2592000 seconds"
        ExpiresByType image/jpeg "access plus 2592000 seconds"
        ExpiresByType image/png "access plus 2592000 seconds"
        ExpiresByType image/webp "access plus 2592000 seconds"
        ExpiresByType text/css "access plus 2592000 seconds"
    </IfModule>

    <IfModule mod_headers.c>
        <FilesMatch "\\.css$">
            Header set Cache-Control "max-age=2592000, public"
        </FilesMatch>
        <FilesMatch "\\.(gif|ico|jpe?g|png|svg|webp)$">
            Header set Cache-Control "max-age=2592000, public, immutable"
        </FilesMatch>
        <FilesMatch "\\.js$">
            Header set Cache-Control "max-age=2592000, private"
        </FilesMatch>
    </IfModule>

    Header always set Content-Security-Policy "upgrade-insecure-requests; base-uri 'self'; default-src 'self'; script-src 'self' 'unsafe-inline'; img-src 'self' https:; frame-ancestors 'none'; report-uri /{{ _wallabag.csp_reports_apache_segment }}/"
</Directory>

<Directory {{ _wallabag.apache_path }}/bundles/>
    <IfModule mod_rewrite.c>
        RewriteEngine Off
    </IfModule>
</Directory>
