<Directory {{ _phpmyaddressbook.apache_path }}/>
    Header always set Content-Security-Policy "upgrade-insecure-requests; base-uri 'self'; default-src 'self'; frame-ancestors 'none'; report-uri /{{ _phpmyaddressbook.csp_reports_apache_segment }}/"
</Directory>
