<VirtualHost *:80>
    ServerName {{ _apache.domain }}
    ServerAlias www.{{ _apache.domain }}

    ServerAdmin webmaster@localhost
    DocumentRoot /var/www/{{ _apache.domain }}

    RedirectMatch permanent ^(?!/\.well-known/acme-challenge/).* https://{{ _apache.domain }}$0

    # Possible values include: debug, info, notice, warn, error, crit,
    # alert, emerg.
    #LogLevel warn

    ErrorLog ${APACHE_LOG_DIR}/{{ _apache.domain }}.http.error.log
    CustomLog ${APACHE_LOG_DIR}/{{ _apache.domain }}.http.access.log combined
</VirtualHost>
