<VirtualHost *:443>
    ServerName {{ _apache.domain }}
    ServerAlias www.{{ _apache.domain }}

    ServerAdmin webmaster@localhost
    DocumentRoot /var/www/{{ _apache.domain }}

    <Directory /var/www/{{ _apache.domain }}>
        Options -Indexes +FollowSymLinks +MultiViews
        AllowOverride All
        Require all granted
    </Directory>

    #
    # security headers
    #
    # content security policy
    # see https://scotthelme.co.uk/csp-cheat-sheet/
    #
    # http strict transport security
    # see https://scotthelme.co.uk/hsts-cheat-sheet/
    #
    # https
    # see https://scotthelme.co.uk/https-cheat-sheet/
    #
    # performance
    # see https://scotthelme.co.uk/performance-cheat-sheet/
    #
    Header always setifempty Content-Security-Policy "upgrade-insecure-requests; base-uri 'self'; default-src 'none'; frame-ancestors 'none'; report-uri /{{ _apache.csp_reports_apache_segment }}/"
    #
    # X-Frame-Options is deprecated and replaced by
    # Content-Security-Policy: frame-ancestors 'none';
    #
    # "always" keyword is required as module proxy_fcgi is enabled
    # see https://httpd.apache.org/docs/current/en/mod/mod_headers.html#header
    #
    Header always setifempty X-Frame-Options "DENY"
    Header always setifempty X-Xss-Protection "1; mode=block; report-uri=/{{ _apache.csp_reports_apache_segment }}/"
    Header always setifempty X-Content-Type-Options "nosniff"
    Header always setifempty Referrer-Policy "strict-origin-when-cross-origin"
    Header always setifempty Permissions-Policy "accelerometer=(), ambient-light-sensor=(), autoplay=(), battery=(), camera=(), cross-origin-isolated=(), display-capture=(), document-domain=(), encrypted-media=(), execution-while-not-rendered=(), execution-while-out-of-viewport=(), fullscreen=(), geolocation=(), gyroscope=(), hid=(), idle-detection=(), magnetometer=(), microphone=(), midi=(), navigation-override=(), payment=(), picture-in-picture=(), publickey-credentials-get=(), screen-wake-lock=(), serial=(), sync-xhr=(), usb=(), web-share=(), xr-spatial-tracking=()"

    # include configuration for services such as radicale (with wsgi) and freshrss
    IncludeOptional {{ _apache.services_enabled_segment }}/*.conf

    # Possible values include: debug, info, notice, warn, error, crit,
    # alert, emerg.
    #LogLevel warn

    ErrorLog ${APACHE_LOG_DIR}/{{ _apache.domain }}.https.error.log
    CustomLog ${APACHE_LOG_DIR}/{{ _apache.domain }}.https.access.log combined

    #Include conf-available/serve-cgi-bin.conf

    #
    # security enforcement by mozilla
    #
    # see https://ssl-config.mozilla.org/#server=apache&version=2.4.38&config=modern&openssl=1.1.1d&guideline=5.6
    # apache 2.4.38 | modern profile | OpenSSL 1.1.1d

    SSLEngine on
    SSLCertificateFile      /etc/letsencrypt/live/{{ _apache.domain }}/fullchain.pem
    SSLCertificateKeyFile   /etc/letsencrypt/live/{{ _apache.domain }}/privkey.pem

    # enable HTTP/2, if available
    Protocols h2 http/1.1

    # HTTP Strict Transport Security (mod_headers is required) (63072000 seconds)
    Header always set Strict-Transport-Security "max-age=63072000"
</VirtualHost>

# modern configuration
# TODO do not disable TLSv1.2 until EasyRSS supports TLSv1.3
# see https://github.com/Alkarex/EasyRSS/issues/68
SSLProtocol             all -SSLv3 -TLSv1 -TLSv1.1
SSLHonorCipherOrder     off
SSLSessionTickets       off

SSLUseStapling On
SSLStaplingCache "shmcb:logs/ssl_stapling(32768)"
