<Directory {{ _epubjs.apache_path }}/>
    Header always set Content-Security-Policy "upgrade-insecure-requests; base-uri 'self'; default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline' blob:; img-src 'self' blob:; font-src 'self' blob:; frame-ancestors 'none'; report-uri /{{ _epubjs.csp_reports_apache_segment }}/"
</Directory>
