{
    "bind-address-ipv4": "0.0.0.0",
    "bind-address-ipv6": "::",

    "blocklist-url": "http://list.iblocklist.com/?list=ydxerpxkpcfqjaybcssw&fileformat=p2p&archiveformat=gz",
    "blocklist-enabled": true,

    "download-dir": "{{ _transmission.completed_data_path }}",
    "incomplete-dir-enabled": true,
    "incomplete-dir": "{{ _transmission.incomplete_data_path }}",
    "umask": 7,
    "watch-dir": "{{ _transmission.torrents_data_path }}",
    "watch-dir-enabled": true,

    "rpc-authentication-required": true,
    "rpc-password": "{{ _transmission.web_password }}",
    "rpc-url": "/transmission/",
    "rpc-username": "{{ _transmission.web_login }}",
    "rpc-whitelist-enabled": false
}
