[DEFAULT]

# Destination email address used solely for the interpolations in
# jail.{conf,local} configuration files.
destemail = {{ _fail2ban.ops_email }}

# Name of the sender for mta actions
sendername = "{{ _fail2ban.sender_name }}"

# Sender email address used solely for some actions
sender = {{ _fail2ban.sender_email }}

# Choose default action.  To change, just override value of 'action' with the
# interpolation to the chosen action shortcut (e.g.  action_mw, action_mwl, etc) in jail.local
# globally (section [DEFAULT]) or per specific section
action = %(action_mwl)s
