<Directory {{ _ezservermonitor.apache_path }}/>
    Header always set Content-Security-Policy "upgrade-insecure-requests; base-uri 'self'; default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; frame-ancestors 'none'; report-uri /{{ _ezservermonitor.csp_reports_apache_segment }}/"
</Directory>
