<Directory {{ _envdev.apache_path }}/>
    Header always unset Content-Security-Policy
    Header always set Content-Security-Policy-Report-Only "upgrade-insecure-requests; base-uri 'self'; default-src 'self'; frame-ancestors 'none'; report-uri /{{ _envdev.csp_reports_apache_segment }}/"

    Options +Indexes
</Directory>
