<Directory {{ _rompr.apache_path }}/>
    Header always set Content-Security-Policy "upgrade-insecure-requests; base-uri 'self'; default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; frame-ancestors 'none'; report-uri /{{ _rompr.csp_reports_apache_segment }}/"
</Directory>
